<% if @zones.empty? == 0 %>
  <div class="doh">
    <p>Unable to locate zone information please double check your zones file in ~/.wackamole/zones.yml/p>
  </div>
<% else %>
  <table class="logs" id="mission">
    <thead>
      <tr>  
        <th width="20%">application</th>
        <th width="10%">zone</th>
        <th width="10%">env</th>
        <th width="20%">to date</th>
        <th width="20%">today</th>
        <th width="20%">last tick</th>
      </tr>
    </thead>
    <tbody>      
      <% @zones.each_pair do |zone, app_info| %>
        <% app_info.each_pair do |app_name, env_info| %>
          <% env_info.each_pair do |env_name, totals| %>
            <tr class="app_info" id="<%=zone%>" >                
              <td valign="top"><%= link_to app_name, "/dashboard/#{zone}/#{app_name}/#{env_name}", :class => 'site_link' %></td>
              <td valign="top"><%= zone %></td>              
              <td valign="top"><%= env_name %></td>                                  
              <% %w(to_date today last_tick).each do |period| %>
                <td>
                  <table border="0" width="100%">
                    <tbody>
                      <% totals[period.to_sym].each_pair do |type, count| %>
                        <tr>
                          <% clazz = ( (count > 0 and %w(last_tick today).include?(period)) ? assign_class( type, count ) : nil) %>
                          <td width="25px">
                            <% if( %w(last_tick today).include?( period ) and count > 0 ) %>
                              <%= link_to Wackamole::Mission.to_type_name(type), "/mission/logs/#{zone}/#{app_name}/#{env_name}/#{type}", :class => "site_link", :id => "#{app_name}_#{env_name}_#{type}" %>:
                            <% else %>
                              <%=Wackamole::Mission.to_type_name(type)%>:
                            <% end %>
                          </td>
                          <td align='right'>
                            <span class="<%= (clazz and count > 0 ? "#{period}_#{clazz}" : '') %>">
                              &nbsp;<%= format_number(count) %>&nbsp;
                            </span>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>            
                  </table>                  
                </td>              
            <% end %>
            </tr>          
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>