<div class="section" id="summary">
  <p class="title">this hour</p>
  <ul id="summary">
    <li>
      <p class="status">Users</p>
      <div id="user_load" class="load"></div>
    </li>
    <li>
      <p class="status">Features</p>
      <div id="feature_load" class="load"></div>        
    <li>
      <p class="status">Performance</p>
      <p class="result">
        <% if @info[:perf_load] > 0 %>
          <%= link_to pluralize( @info[:perf_load], 'issue' ), "/dashboard/logs/#{Rackamole.perf}/#{@updated_on.hour}/", :class => "site_link" %>
        <% else %>
          <%=pluralize( @info[:perf_load], 'issue' )%>
        <% end %>
      </p>  
    </li>
    <li>
      <p class="status">Uncaught Exceptions</p>
      <p class="result">
        <% if @info[:fault_load] > 0 %>
          <%= link_to pluralize( @info[:fault_load], 'issue' ), "/dashboard/logs/#{Rackamole.fault}/#{@updated_on.hour}/", :class => "site_link" %>
        <% else %>
          <%=pluralize( @info[:fault_load], 'issue' )%>
        <% end %>
      </p>
    </li>
  </ul>
</div>

<div class="section" id="activity">
  <p class="title">day summary</p>
  <ul class="section">
    <li>
      <p id="faults">Faults</p>
      <% unless zeroed_series?( @info[:fault_series] ) %>
        <div class="heat" id="svg_faults"></div>
      <% else %>
        <p class="no_report">No Issues reported.</p>
      <% end %>
    </li>
    <li>
      <p id="perfs">Performance</p>
      <% unless zeroed_series?( @info[:perf_series] ) %>
        <div class="heat" id="svg_perf"></div>
      <% else %>
        <p class='no_report'>No Issues reported.</p>
      <% end %>
    </li>
    <li>
      <p id="users">Users</p>
      <% unless zeroed_series?( @info[:user_series] ) %>
        <div class="heat" id="svg_users"></div>
      <% else %>
        <p class='no_report'>No Users reported.</p>
      <% end %>
    </li>
    <li>
      <p id="features">Features</p>
      <% unless zeroed_series?( @info[:feature_series] ) %>
        <div class="heat" id="svg_features"></div>
      <% else %>
        <p class="no_report">No Logs reported.</p>
      <% end %>
    </li>
  </ul>
</div>

<script>    
  $( function() {
    $('a.dash').addClass( 'current' );
    
    var xs = <%= (0..23).to_a.to_json %>,
      ys    = <%= y = [];24.times{ y << 1 };y.to_json %>,
      axisy = <%= %w[Mon].to_json %>,
      axisx = <%= %w[12am 1 2 3 4 5 6 7 8 9 10 11 12 1 2 3 4 5 6 7 8 9 10 11].to_json %>;
    
    gen_load( 'user_load'   , <%=@info[:user_load]%>, <%=@info[:total_users]%> );
    gen_load( 'feature_load', <%=@info[:feature_load]%>, <%=@info[:total_features]%> );
          
    <% unless zeroed_series?( @info[:fault_series] ) %>
      var url = "/dashboard/logs/<%=Rackamole.fault%>/";
      gen_heat_map( url, 'svg_faults', <%=@info[:fault_series].to_json%>, 'cross'  , xs, ys, axisx, axisy );
    <% end %>
    <% unless zeroed_series?( @info[:perf_series] ) %>
      var url = "/dashboard/logs/<%=Rackamole.perf%>/";
      gen_heat_map( url, 'svg_perf', <%=@info[:perf_series].to_json%>, 'diamond', xs, ys, axisx, axisy );
    <% end %>
    <% unless zeroed_series?( @info[:user_series] ) %>
      var url = "/dashboard/users/";
      gen_heat_map( url, 'svg_users', <%=@info[:user_series].to_json%>, 'disc', xs, ys, axisx, axisy );
    <% end %>
    <% unless zeroed_series?( @info[:feature_series] ) %>
      var url = "/dashboard/logs/<%=Rackamole.feature%>/";
      gen_heat_map( url, 'svg_features', <%=@info[:feature_series].to_json%>, 'flower', xs, ys, axisx, axisy );
    <% end %>
  });
</script>