<div class="page_entries">
  <%= page_entries_info @features, :entry_name => 'features' %>
</div>

<div id="content">
  <table border="0" class="logs">
    <thead>
      <tr>
        <th width="25%">Feature</th>
        <th align='right' width="5%">Totals</th>
      <tr>
    </thead>
    <tbody>
      <% count=0;@features.each do |row| %>
        <% color = count % 2 == 0 ? 'transparent' : 'transparent url(/images/fade.png) repeat-x' %>
        <tr style="background:<%=color%>">
          <td><%=link_to display_context( row[:name] ), "/logs/feature/#{row[:fid]}", :class => 'nav_link'%></td>
          <td align="right"><b><%=row[:total]%></b></td>
        </tr>
      <% count+=1;end %>
    </tbody>
  </table>
</div>
<div class="pages">
  <%= will_paginate @features, :previous_label => "&nbsp;&nbsp;", :next_label => "&nbsp;&nbsp;", :params => { :url => "/features" } %>
</div>
