<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>W A C K a M O L E</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="/images/small_logo.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/small_logo.png" type="image/x-icon"/>
    <%= stylesheets %w[wackamole] %>
    <%= javascripts %w[jquery_min jquery_ui_min] %>
  </head>

  <body id="body">
    <div id="overall">      
      <div id="logo">
        <span id="version"><%=Wackamole.version%></span>        
        <%= link_to image_tag( 'wackamole_logo.png', :border => 0 ), '/mission' %>
      </div>      
      <div id="links">        
        <% if console_auth? and !root_path? %>
          <%= link_to "log out", "/session/delete", :class => "site_link logout" %>
        <% end %>                
        
        <% unless root_path? %>
          <p><span id="timestamp"><%=partial :'shared/timestamp'%></span></p>
        <% end %>
        
        <% if @app_info and authenticated? %>
          <ul id="app_info">
            <li>zone<span class="zone"><%=@app_info[:zone]%></span></li>
            <li><span class="app"><%=@app_info[:app]%></span><span class="stage"><%=@app_info[:stage]%></span></li>
          </ul>
        <% end %>                
      </div>
      <div id="main">     
        <div class="flash"></div>
        
        <% if @app_info and authenticated? %>
          <div id='navigation' class='corners'>
            <% unless Wackamole::Control.single_app? %>
              <%=link_to "mission control", "/mission", :class => "site_link land" %>&nbsp;&bull;&nbsp;
            <% end %>
            <%=link_to "dashboard", "/dashboard/#{@app_info[:zone]}/#{@app_info[:app]}/#{@app_info[:stage]}", 
              :class => "site_link dash" %>&nbsp;&bull;&nbsp;            
            <%=link_to "logs", "/logs/1", 
              :class => "site_link logs" %>&nbsp;&bull;&nbsp;
            <%=link_to "features", "/features/1", 
              :class => "site_link features" %>&nbsp;&bull;&nbsp;
            <%=link_to "users", "/users/1", 
              :class => "site_link users" %>
          </div>
        <% end %>  
        <%= yield %>
      </div>
      
      <% unless root_path? %>
        <div id="footer" style="text-align:right">
          <%= link_to image_tag( 'powered_by.png', :border => 0 ), "http://www.rackamole.com", :target => "#" %>
        </div>
      <% end %>

    </div>
  </body>
</html>

<script>
 $( function() {
// console.log( "Flash " + $('div.flash').html().length + " == " +  $('div.flash').html() + '==' );

   if ( $('div.flash') && $('div.flash').html() && $('div.flash').html().length > 1 )
     $('div.flash').fadeOut( 2000 );
 });
</script>