<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>W A C K a M O L E</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="/images/small_logo.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/small_logo.png" type="image/x-icon"/>
    <%= stylesheets %w[wackamole] %>
    <%= javascripts %w[jquery_min jquery_ui_min jquery.tools.min jquery.example application raphael.min g.raphael.min g.dot.min] %>
  </head>

  <body id="body">
    <div id="overall">      
      <div id="logo" style="margin-bottom:50px">
        <%= link_to image_tag( 'wackamole_logo.png', :border => 0 ), '/mission' %>
      </div>      
      <div id="app_info">
        <% if @app_info %>        
          <ul>
            <li>&lt;<%=@app_info[:app_name]%>&gt;</li>
            <li id="env"><%=@app_info[:stage]%></li>
          <ul>
        <% end %>        
        <p id="timestamp"><%=partial :'shared/timestamp'%></p>
      </div>
      <div id="main">
        <div class="flash"></div>
        <% if @app_info %>        
          <div id='navigation'>
            <%=link_to "mission control", "/mission"                                               , :class => "site_link land" %>&nbsp;&bull;&nbsp;
            <%=link_to "dashboard"      , "/dashboard/#{@app_info[:app_name]}/#{@app_info[:stage]}", :class => "site_link dash" %>&nbsp;&bull;&nbsp;            
            <%=link_to "logs"           , "/logs/1"                                                , :class => "site_link logs" %>&nbsp;&bull;&nbsp;
            <%=link_to "features"       , "/features/1"                                            , :class => "site_link features" %>&nbsp;&bull;&nbsp;
            <%=link_to "users"          , "/users/1"                                               , :class => "site_link users" %>
          </div>
        <% end %>
                
        <%= yield %>
      </div>
      
      <div id="footer" style="text-align:right">
        <%= link_to image_tag( 'powered_by.png', :border => 0 ), "http://www.rackamole.com", :target => "#" %>
      </div>

    </div>
  </body>
</html>