<div id="filters">
  <% form_remote_tag :url  => filter_users_url, 
      :loading => "$('#loading' ).show();",
      :complete => "$('#loading' ).hide();",
      :html    => { :id => 'filter_form', :style => "text-align:left;overflow:none;height:30px;float:left;width:75%" } do -%>

    <fieldset class="inline">
			<label for="range">
			  Time range:
  			<select id="range" name="filter[time_frame]">
  		    <%= options_for_select SearchFilter.time_frames, @filter.time_frame %>
  		  </select>  			  
		  </label>
    </fieldset>	                

  	<fieldset class="inline" style="width:120px">
			<label for="feature">
			  Type:
  			<select id="feature" name="filter[type]">
  		    <%= options_for_select SearchFilter.mole_types, @filter.type %>
  		  </select>						  
		  </label>
  	</fieldset>

  	<fieldset class="inline" style="width:100px">
			<label for="feature">
			  Browser:
  			<select id="feature" name="filter[browser_type]">
  		    <%= options_for_select SearchFilter.browser_types, @filter.browser_type %>
  		  </select>						  
		  </label>
  	</fieldset>

  	<fieldset class="inline" style="width:200px">
			<label for="feature">
			  Context:
  			<select id="feature" name="filter[feature_id]">
  		    <%= options_for_select @filter.features, @filter.feature_id %>
  		  </select>						  
		  </label>
  	</fieldset>
  	
		<fieldset style="width:80px;">
		  <label>
		    &nbsp;
    	  <%= submit_tag "Filter", :style => "margin-top:15px;float:left;" %>
        <%= image_tag 'loading1.gif', :border => '0', :size => '24x24', :id => 'loading', :style => "display:none;padding-top:10px" -%>    	  
  	  </label>
  	</fieldset>
  <% end %>

  <fieldset style="border:none">
    <%= render :partial => 'search' -%>
  </fieldset>
  
</div>



