<div class="page_entries">
  <%= page_entries_info @logs, :entry_name => 'log' %>
</div>
  
<% users={}; contexts={} %>
<div id="content">
  <table class="logs">
    <thead>
      <th width="20%">Context</th>
      <th width="5%">Method</th>
      <th width="20%">User</th>    
      <th width="10%">IP</th>
      <th width="10%">Server</th>
      <th width="10%">Date</th>
      <th align="right" width="5%">Timing</th>
      <th align="right" width="3%">&nbsp;</th>
    </thead>
    <tbody>
      <% count=0;@logs.each do |log| %>
        <tr class="<%=row_class_for log['typ'] %>" href="<%="/logs/#{log['_id']}/show"%>" rel='#details'>
          <td><%=context_for( contexts, log['fid']) %></td>
          <td><%=log['met']%></td>
          <td><%=truncate( user_name_for( users, log['uid'] ), 30 )%></td>
          <td><%=log['ip']%></td>
          <td><%=format_host( log['hos'] )%></td>
          <td><%=timestamp_for log %></td>
          <td align="right"><%=request_time( log['rti'] )%></td>
          <td align="right"><div class="browser <%=browser_class( log['bro'])%>"></div></td>
        </tr>
      <% count+=1;end %>
    </body>
  </table>
</div>

<div class="pages">
  <%= will_paginate @logs, :previous_label => "&nbsp;&nbsp;", :next_label => "&nbsp;&nbsp;", :params => { :url => "/logs" } %>
</div>

<div class="overlay" id="details">
  <div class="ov_content"></div>
</div>

<script>
 $( function() {
   $( "tr[rel]").hover( 
     function() {
       $(this).addClass( 'highlight' );
     },
     function() {
       $(this).removeClass( 'highlight' );
     }
    );
   $( "tr[rel]" ).overlay( {
     expose: 'gray',
     onBeforeLoad: function() {  
       var wrap = this.getContent().find( '.ov_content' );
       wrap.load( this.getTrigger().attr( 'href' ) );
     }
   });
  $('.pagination a').live( 'click', function() {
    $("#content").html( '<%=partial :"shared/wait"%>' ); 
    $.getScript( this.href );
    return false;
  });     
 });
</script>
