<p id="info">
  <%=image_tag mole_type_icon( @log['typ'] ), :border => 0 %>
  <p class="title" id="type">
    <%=human_type @log['typ'] %>
  </p>
  <p class="title" id="feature">  
    <%=feature_name_for @log['fid'] %>
  </p>
</p>

<div id="info">
  <table class="info" width="100%" cellspacing="0" cellpadding="0" style="">
    <tbody>
      <% if @log['pat'] %>
        <tr>
          <td class="label">Path</td>
          <td><%=@log['pat']%></td>
        </tr>
      <% end %>      
      <tr>
        <td class="label">User</td>
        <td><%=user_name_for @log['uid'] %></td>
      </tr>
      <tr>
        <td class="label">Method</td>
        <td><%=@log['met']%></td>
      </tr>
      <tr>
        <td class="label">Url</td>
        <td><%=@log['url']%></td>
      </tr>
      <% if @log['rti'] %>
        <tr>
          <td class="label">Duration</td>
          <td><%="%4.2f secs" % @log['rti']%></td>
        </tr>
      <% end %>
      <tr>
        <td class="label">Status</td>
        <td><%=@log['sts']%></td>
      </tr>      
      <tr>
        <td class="label">Software</td>
        <td><%=@log['sof']%></td>
      </tr>
      <% if @log['mac'] %>
        <tr>
          <td class="label" valign="top">Machine</td>
          <td><%=partial :'logs/hash', :object => @log['mac']%></td>
        </tr>
      <% end %>
      <% if @log['bro'] and @log['bro'].is_a?( Hash ) %>
      <tr>
        <td class="label" valign="top">Browser</td>
        <td><%=partial :'logs/hash', :object => @log['bro']%></td>
      </tr>      
      <% end %>
      <% if @log['msg'] %>
        <tr>
          <td class="label" valign="top">Error</td>
          <td><%=truncate( @log['msg'], 300 )%></td>
        </tr>      
        <tr>
          <td class="label" valign="top">Stack [<%=@log['sta'].size%>]</td>
          <td><%=partial :'logs/array', :object => @log['sta']%></td>
        </tr>
      <% end %>
      <% if @log['hdr'] %>
        <tr>
          <td class="label" valign="top">Headers</td>
          <td><%=partial :'logs/hash', :object => @log['hdr']%></td>
        </tr>
      <% end %>      
      <% if @log['par'] %>
        <tr>
          <td class="label" valign="top">Parameters</td>
          <td><%=partial :'logs/hash', :object => @log['par']%></td>
        </tr>
      <% end %>
      <% if @log['ses'] %>
        <tr>
          <td class="label" valign="top">Session</td>
          <td><%=partial :'logs/hash', :object => @log['ses']%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>