<p style="text-align:left">
  <%=image_tag mole_type_icon( @log['typ'] ), :border => 0, :style => "float:left;padding:10px" -%>
  <p class="title" style="font-size:2em;text-align:left;padding:50px 0px 0px 20px">    
    <%=human_type @log['typ'] -%>
  </p>
  <p class="title" style="clear:left;font-size:2em;text-align:left;padding:10px 0px 0px 20px">  
    <%=feature_name_for @log['fid'] -%>
  </p>
</p>

<div style="clear:left;text-align:left;margin:35px 10px 30px 10px">
  <table class="info" width="100%" cellspacing="0" cellpadding="0" style="">
    <tbody>
      <% if @log['pat'] -%>
        <tr>
          <td class="label">Path</td>
          <td><%=@log['pat']%></td>
        </tr>
      <% end -%>      
      <tr>
        <td class="label">User</td>
        <td><%=user_name_for @log['uid'] %></td>
      </tr>
      <tr>
        <td class="label">Method</td>
        <td><%=@log['met']%></td>
      </tr>
      <tr>
        <td class="label">Url</td>
        <td><%=@log['url']%></td>
      </tr>
      <% if @log['rti'] -%>      
        <tr>
          <td class="label">Duration</td>
          <td><%="%4.2f secs" % @log['rti']%></td>
        </tr>
      <% end -%>
      <tr>
        <td class="label">Software</td>
        <td><%=@log['sof']%></td>
      </tr>
      <% if @log['msg'] -%>
        <tr>
          <td class="label" valign="top">Error</td>
          <td><%=truncate( @log['msg'], :length => 300 )%></td>
        </tr>      
        <tr>
          <td class="label" valign="top">Stack [<%=@log['sta'].size%>]</td>
          <td><%=render :partial => 'array', :object => @log['sta']%></td>
        </tr>
      <% end -%>      
      <% if @log['par'] -%>
        <tr>
          <td class="label" valign="top">Parameters</td>
          <td><%=render :partial => 'hash', :object => @log['par']%></td>
        </tr>
      <% end -%>
      <% if @log['ses'] -%>
        <tr>
          <td class="label" valign="top">Session</td>
          <td><%=render :partial => 'hash', :object => @log['ses']%></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>