<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%=@title%></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>    
    <%= stylesheet_link_merged    :home -%>    
    <%= javascript_include_merged :home -%>            
  	<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>    
  </head>

  <body id="body">
    <div id="overall">      
      <div id="logo">
        <%= link_to image_tag( 'wackamole_logo.png', :border => 0 ), root_url -%>
      </div>
      <div id="app_info">
        <% unless @app_info.empty? -%>        
          <ul>
            <li>&lt;<%=@app_info[:name]%>&gt;</li>
            <li id="env"><%=@app_info[:env]%></li>
          <ul>
        <% end -%>
        <p><%=@updated_on.strftime( "%m/%d/%y %H:%M:%S")%></p>
      </div>
      <div id="main">
        <div id="flash" style="display:none">
          <%= flash_messages %>
        </div>
        <div id='navigation'>
          <%=link_to "landscape", reports_url , :class => "site_link land" -%>&nbsp;&bull;&nbsp;          
          <%=link_to "dashboard", apps_url    , :class => "site_link dash" -%>&nbsp;&bull;&nbsp;
          <%=link_to "logs"     , logs_url    , :class => "site_link logs" -%>&nbsp;&bull;&nbsp;
          <%=link_to "users"    , users_url   , :class => "site_link users" -%>&nbsp;&bull;&nbsp;
          <%=link_to "features" , features_url, :class => "site_link features" -%>          
        </div>
        <%= yield -%>
      </div>
      
      <div id="footer" style="text-align:right">
        <%= link_to image_tag( 'powered_by.png', :border => 0 ), "http://www.rackamole.com", :target => "#" -%>
      </div>

    </div>      
  </body>
</html>