<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%=@title%></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    
    <link rel="icon" href="/images/small_logo.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/small_logo.png" type="image/x-icon"/>
    <%= stylesheet_link_merged    :home -%>    
    <%= javascript_include_merged :home -%>            
  	<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>    
  </head>

  <body id="body">
    <div id="overall">      
      <div id="logo" style="margin-bottom:50px">
        <%= link_to image_tag( 'wackamole_logo.png', :border => 0 ), root_url -%>
      </div>
      <div id="app_info">
        <p><%=@updated_on.strftime( "%m/%d/%y %H:%M:%S")%></p>
      </div>
      <div id="main">
        <%= yield -%>
      </div>
      
      <div id="footer" style="text-align:right">
        <%= link_to image_tag( 'powered_by.png', :border => 0 ), "http://www.rackamole.com", :target => "#" -%>
      </div>

    </div>      
  </body>
</html>